<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

<header>
	<% include partials/header %>
</header>

<main>
	<div class="jumbotron">
		<h2>These are users:</h2>
		
		<% user.forEach(function(user) { %>
			<p>User, aged <%= user.age %>, is named <%= user.firstName %> <%= user.lastName %> and has a popularity level of: <%= user.popularity %>.</p>
		<% }); %>
		
	</div>
	
	<div class="row">
		<div class="col-4">
			<h3>Add a user:</h3>
			<form action="/users/create" method="post">
				<div class="form-group">
					<label>First Name</label>
					<input class="form-control" type="text" name="firstName">
					<label>Last Name</label>
					<input class="form-control" type="text" name="lastName">
					<label>Popularity</label>
					<input class="form-control" type="number" name="popularity">
					<label>Age</label>
					<input class="form-control" type="number" name="age">

					<button class="btn btn-primary" type="submit">Add User</button>
				</div>
			</form>
		</div>
	
		<div class="col-4">
			<h3>Update by Last Name:</h3>
			<form action="/users/update" method="post">
				<div class="form-group">
					<label>First Name</label>
					<input class="form-control" type="text" name="firstName">
					<label>Last Name</label>
					<input class="form-control" type="text" name="lastName">
					<label>Popularity</label>
					<input class="form-control" type="number" name="popularity">
					<label>Age</label>
					<input class="form-control" type="number" name="age">

					<button class="btn btn-primary" type="submit">Update User</button>
				</div>
			</form>
		</div>
		
		<div class="col-4">
		<h3>Delete user by ID:</h3>
			<form action="/users/delete" method="post">
				<div class="form-group">
					<label>MongoDB ID</label>
					<input class="form-control" type="text" name="id">

					<button class="btn btn-primary" type="submit">Delete User</button>
				</div>
			</form>
		</div>
	</div>

	
</main>

<footer>
	<% include partials/footer %>
</footer>

</body>
</html>