<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>These are default users:</h2>
        
        <% users.users.forEach(function(user) { %>
            <p>User #<%= user.ID %> is named <%= user.FirstName %> <%= user.LastName %> and has a popularity level of: <%= user.Popularity %>.</p>
        <% }); %>
        
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>